.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

.piechart, .downloadbuttons {
  display: flex;
}

.piechartInner {
  margin: auto auto;
}

.downloadbuttonsInner {
  width: 100%;
  height: auto;

  @media (min-width: 992px) {
    display: flex;
  }
}

@media (min-width: 600px) {
  .reference {
    flex: 5 10px;
  }
  .piechart {
    flex: 3 10px;
  }
}

@media (min-width: 992px) {
  .reference {
    flex: 4 10px;
  }

  .piechart {
    flex: 3 10px;
  }

  .downloadbuttons {
    flex: 2 10px;
  }
}
