.navbarToggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  border-color: rgba(0,0,0,.1);

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  @media (min-width: 992px) {
    display: none;
  }
}

.navbarItem {
  text-transform: capitalize;
  font-size: 13px;
  color: rgb(137,148,135);
  background: none !important;

  &:hover, &:focus {
    background: none !important;
    color: #79a736 !important;
  }
}

.navbarCollapse {
  @media (max-width: 992px) {
    display: none !important;
  }
}
